body {
    font-family: Times;
}
#div1 {
    background: #ffffff;
    margin-top: 2%;  padding: 20px; border-radius: 10px; box-shadow: 0px 0px 20px 5px rgb(0, 0, 0)
    
}

#b1 {
    background: rgba(109,0,25,1);
    background: -moz-linear-gradient(left, rgba(109,0,25,1) 0%, rgba(143,2,34,1) 56%, rgba(169,3,41,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(109,0,25,1)), color-stop(56%, rgba(143,2,34,1)), color-stop(100%, rgba(169,3,41,1)));
    background: -webkit-linear-gradient(left, rgba(109,0,25,1) 0%, rgba(143,2,34,1) 56%, rgba(169,3,41,1) 100%);
    background: -o-linear-gradient(left, rgba(109,0,25,1) 0%, rgba(143,2,34,1) 56%, rgba(169,3,41,1) 100%);
    background: -ms-linear-gradient(left, rgba(109,0,25,1) 0%, rgba(143,2,34,1) 56%, rgba(169,3,41,1) 100%);
    background: linear-gradient(to right, rgba(109,0,25,1) 0%, rgba(143,2,34,1) 56%, rgba(169,3,41,1) 100%);
}


#h1a {
    color: #db1212;
    font-weight: normal;
    font-size: 40px;
    font-family: italic;
    text-transform: uppercase;
    text-align: center;
  }

#a1 {

    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: #1883ba;
    border-radius: 6px;
    border: 2px solid #0016b0;
    
}

#divb{
    text-align: center;
}


#imgindex1{

    width: 40%;
    height: 40%;
    border: none;
    padding: 30px;
    margin: 10px 0 10px 10px !important;

}

#imgindex2{

    width: 43%;
    height: 40%;
    border: none;
    padding: 30px;
    margin: 10px 0 10px 10px !important;

}

footer {
    text-align: center;
    color: white;
}